$inchworm: #afe84f;
$slimy-green: #469623;
$eerie-black: #1f2223;

/* SCSS HEX */
$slimy-green: #469623;
$slimy-green-2: #449023;
$forest-green-web: #428a23;
$india-green: #408423;
$sap-green: #3e7e23;
$sap-green-2: #3c7723;
$sap-green-3: #3a7123;
$pakistan-green: #386b23;
$lincoln-green: #366523;
$lincoln-green-2: #345f23;
$lincoln-green-3: #315923;
$hunter-green: #2f5323;
$hunter-green-2: #2d4d23;
$forest-green-traditional: #2b4723;
$kombu-green: #294123;
$kombu-green-2: #273a23;
$kombu-green-3: #253423;
$pine-tree: #232e23;
$dark-jungle-green: #212823;
$eerie-black: #1f2223;

// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);
// $gradient-right: linear-gradient(90deg, #469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);
// $gradient-bottom: linear-gradient(180deg, #469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);
// $gradient-left: linear-gradient(270deg, #469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);
// $gradient-top-right: linear-gradient(45deg, #469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);
// $gradient-bottom-right: linear-gradient(135deg, #469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);
// $gradient-top-left: linear-gradient(225deg, #469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);
// $gradient-bottom-left: linear-gradient(315deg, #469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);
// $gradient-radial: radial-gradient(#469623, #449023, #428A23, #408423, #3E7E23, #3C7723, #3A7123, #386B23, #366523, #345F23, #315923, #2F5323, #2D4D23, #2B4723, #294123, #273A23, #253423, #232E23, #212823, #1F2223);

/* SCSS HEX */
$inchworm: #afe84f;
$inchworm-2: #a9e44d;
$inchworm-3: #a4df4a;
$yellow-green: #9edb48;
$yellow-green-2: #99d746;
$yellow-green-3: #93d243;
$yellow-green-4: #8ece41;
$yellow-green-5: #88ca3f;
$yellow-green-6: #83c53c;
$green-ryb: #7dc13a;
$green-ryb-2: #78bd38;
$green-ryb-3: #72b936;
$green-ryb-4: #6db433;
$green-ryb-5: #67b031;
$green-ryb-6: #62ac2f;
$green-ryb-7: #5ca72c;
$green-ryb-8: #57a32a;
$green-ryb-9: #519f28;
$slimy-green: #4c9a25;
$slimy-green-2: #469623;

// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
// $gradient-right: linear-gradient(90deg, #AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
// $gradient-bottom: linear-gradient(180deg, #AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
// $gradient-left: linear-gradient(270deg, #AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
// $gradient-top-right: linear-gradient(45deg, #AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
// $gradient-bottom-right: linear-gradient(135deg, #AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
// $gradient-top-left: linear-gradient(225deg, #AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
// $gradient-bottom-left: linear-gradient(315deg, #AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
// $gradient-radial: radial-gradient(#AFE84f, #A9E44D, #A4DF4A, #9EDB48, #99D746, #93D243, #8ECE41, #88CA3f, #83C53C, #7DC13A, #78BD38, #72B936, #6DB433, #67B031, #62AC2f, #5CA72C, #57A32A, #519F28, #4C9A25, #469623);
